// Place all the styles related to the EmployeeSubmissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
    th {
      padding: 20px; /* Adjust the padding value as needed */
      text-align: center;
    }
  }
  
  table {
    td {
      padding: 20px; /* Adjust the padding value as needed */
      text-align: center;
    }
  }